.letter {
    border: 2px solid #ccc;
    align-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    position: relative;
    font-weight: bolder;
    font-size: 24px;
  }
  
  #Green {
    animation: flip-green 0.5s ease forwards;
  }
  #Gray {
    animation: flip-gray 0.5s ease forwards;
  }
  #Yellow {
    animation: flip-yellow 0.5s ease forwards;
  }
  
  @keyframes flip-yellow {
    0% {
      transform: rotateX(0);
      background-color: black;
    }
    45% {
      transform: rotateX(90deg);
      background-color: black;
    }
    55% {
      transform: rotateX(90deg);
      transform: rotateX(90deg);
      background-color: black;
    }
    100% {
      transform: rotateX(0);
      background-color: rgb(225, 225, 34);
    }
  }
  
  @keyframes flip-green {
    0% {
      transform: rotateX(0);
      background-color: black;
    }
    45% {
      transform: rotateX(90deg);
      background-color: black;
    }
    55% {
      transform: rotateX(90deg);
      transform: rotateX(90deg);
      background-color: black;
    }
    100% {
      transform: rotateX(0);
      background-color: rgb(3, 92, 3);
    }
  }
  
  @keyframes flip-gray {
    0% {
      transform: rotateX(0);
      background-color: black;
    }
    45% {
      transform: rotateX(90deg);
      background-color: black;
    }
    55% {
      transform: rotateX(90deg);
      transform: rotateX(90deg);
      background-color: black;
    }
    100% {
      transform: rotateX(0);
      background-color: rgb(96, 96, 96);
    }
  }
  